
 /* Service Box Styles */
  .home-page-container .service-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; /* Changed to center */
    overflow-x: auto;
    position: relative;
  }
  
  .home-page-container .service-box {
    width: 22%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
  }
  
  .home-page-container .service-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
      width:  200px;
      height: 100px;
      /* object-fit: cover;
   */
   background-size: cover;

  }
  
  .home-page-container .service-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .home-page-container .service-box p {
    font-size: 16px;
    color: black;
  }
  
  .home-page-container .service-box a {
    color: #6f42c1; /* Change the color value to your desired color */
}


  .home-page-container .header-image {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
}

.header-image-container {
    position: relative;
  }
  
  .header-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .image-overlay h1 {
    font-size: 32px;
    font-weight: bold;
  }
  
  .image-overlay p {
    font-size: 18px;
  }
  
  .core-value {
    padding: 50px 0; /* Adjust the padding as per your preference */
  }
  
  
  .header-image-container .learn-more-button {
    background-color: #6f42c1;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .learn-more-button:hover {
    background-color: #6f42c1;
  }




/* Responsive Styles */


@media (max-width: 768px) {
  .home-page-container .service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .home-page-container .service-box {
    width: 100%;
    max-width: 1000px; /* Adjust the max-width as per your preference */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
  }
  


  .header-image-container {
    height: 200px;
  }

  .header-image-container .header-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .header-image-container .image-overlay {
    padding: 10px;
  }

  #welcomeText {
    font-size: 20px;
  }

  .header-image-container .image-overlay p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .header-image-container .learn-more-button {
    font-size: 14px;
    padding: 8px 16px;
  }


}
