.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 10%;
}

.service-box {
    width: 5%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.service-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}