{% extends 'base.html' %}
{% load static %}

{% block content %}

<title>Crop Details</title>
<link rel="stylesheet" href="{% static 'CSS/crop_search.css' %}">
<h1 style="text-align: center">Crop Details</h1>
   <div class="container-cropsearch">
        <form class="form" method="POST" action="{% url 'crop_search' %}">
                {% csrf_token %}
                <input type="text" name="crop_name" placeholder="Enter crop name" required>
                <button type="submit">Search</button>
            </form>
              <ul>
            {% for crop in crop_names %}
               <li><a href="{% url 'crop_list' %}?crop_name={{ crop }}">{{ crop }}</a></li>
            {% endfor %}
    </ul>
   </div>

{% endblock %}