{%load static%}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac dolor eu nunc ultrices iaculis vel
                    vel sem.</p>
            </div>
            <div class="col-md-4">
                <h3>Recent Posts</h3>
                <ul>
                    <li><a href="#">Post Title 1</a></li>
                    <li><a href="#">Post Title 2</a></li>
                    <li><a href="#">Post Title 3</a></li>
                    <li><a href="#">Post Title 4</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Contact Us</h3>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> 123 Main Street, Anytown USA</li>
                    <li><i class="fas fa-phone"></i> 555-555-5555</li>
                    <li><i class="fas fa-envelope"></i> info@example.com</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2023 My Website. All rights reserved.</p>
                </div>
                <div class="col-md-6">
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>