<footer>
    <div class="footer-container">
        <div class="row">
            <div class="col-sm-4">
                <h4>About Us</h4>
                <p>
                    Group - Aimers <br>
                    Sanjivani College of Engineering,Kopargaon
                </p>

                <p>
                    &COPY; scoe 2023
                </p>
            </div>

        </div>
    </div>
</footer>


/*footer*/
.footer-container {
background-color: #333;
color: white;

}

h4 {
color: #007bff;
}

.col-sm-4 {
padding: 16px 70px;
margin: 0px 102px;
text-align: center;
}

.row {
place-content: center;
}